.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.cards-wrapper {
  display: flex;
  gap: 24px;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-wrapper .card {
  flex: 1 1 calc(33.333% - 16px);
  min-height: 154px;
  min-width: 250px;
}

.account-list-section {
    padding: 12px;
    background-color: var(--mat-sys-secondary-container);
}

.account-list {
  max-width: 1200px;
  margin: 20px auto 20px auto;
}

.transaction-list-section {
    padding: 12px;
    margin: 0px;
    background-color: var(--mat-sys-secondary-container);
}

.transaction-list {
  max-width: 1200px;
  margin: 20px auto 40px auto;
}
