.app-header {
  width: 100%;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-inverse-primary);
}

#logo {
  margin-right: 12px;
  color: var(--mat-sys-secondary-container);
}

#wordmark {
  text-decoration: none;
  font: var(--mat-sys-title-medium);
}

#app-title-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#app-title-wrapper h1 {
  position: relative;
  color: var(--mat-sys-primary);
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: 600;
  font-size: 32px;line-height: 34px;
  margin: 40px 0px 40px 0px;
  padding-left: 60px;
}

.quote-icon {
  position: absolute;
  top: -14px;
  left: 0px;
  width: 50px;
  height: 50px;
  font-size: 60px;
}

#wordmark:link, #wordmark:visited, #wordmark:focus, #wordmark:active {
  color: var(--mat-sys-secondary-container);
}

#wordmark:hover {
  color: var(--mat-sys-inverse-primary);
}

.app-footer {
  padding: 8px;
  margin: 0px;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-secondary-container);
  text-align: center;
}
